.logo  {
    width: 12rem;
}
header{ 
    display: flex;
    justify-content: space-between;
    align-items: center;  
}
.topics a{
margin: 1rem;
text-decoration: none;
color: black;  
}

.topics a:hover{
    color: red;
}
.user-panel i:hover{
    color: red;
    cursor: pointer;
}
.topics {
    display: flex;
    flex-wrap: nowrap;
    
}
.icon {
    width: 3rem;
    border-radius: 30rem;
    margin: 1rem;
}

 .search{
    height: 2rem;
    width: 10rem;
    margin: 1rem;
 }

 .user-panel{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
 }
.main{
    background: #E0FFFF;
    border-radius: 1rem;
    padding: 1rem;
    display: flex;
    align-items: start;
    flex-direction: column;
    border: 1px red solid;
}

.tags{
    color: red;
    font-weight: bold;
}

.details{
    list-style-type: none;
    margin-left: -2.5rem;
}
.details li {
    margin: 0.5rem 0;
}

.age {
    border: 1px solid black;
    margin-right: 1rem;
}

.ratings{
    color: red;
}

.titles  {
    display: flex;
    justify-content: space-between;
}

.view-all {
    border-style: none;
    background: none;
}

.view-all:hover{
    color: red;
}

.movie-container {
    display: flex;
    justify-content: space-between;

}

.movie-card {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 30%;
    padding: 0.3rem;
    border-top: 1px red solid;
    border-bottom: 1px red solid;
}

.play  {
    border-radius: 0.4rem;
    margin: 0.4rem 0;
    background-color: rgb(219, 0, 0);
    color: #E0FFFF;
    font-weight: 500;
} 
.play:hover  {
    background-color: #dadada;
    color: rgb(219, 0, 0);
}

.follow img{
    width: 2rem;
    margin: 1rem 0;
    padding-right: 1rem;
}
.apps img{
 width: 5rem;
 height: 2rem;
 margin: 1rem 0;
}


footer {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: first baseline;
}

.png {
    display: flex;
    justify-content: space-between;

}

.follow{
    display: flex;
    flex-direction: column;
    margin-right: 1rem;
    
}

.apps {
   display: flex;
   flex-direction: column;
}
.search {
    position: relative;
    width: 15rem;
}

.search input[type="text"] {
    width: 100%;
    padding: 10px 40px 10px 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 25px;
    box-shadow: inset 0 1px 3px rgba(0,0,0,0.12);
}

.search button {
    position: absolute;
    right: 0.8rem; 
    top: 70%;
    transform: translateY(-50%);
    border: none;
    background: none;
    font-size: 1rem;
    color: #888;
}

.search button:focus {
    outline: none;
}

.search button i {        
    font-size: 1rem;
    color: red;                
}
 
button{
    cursor: pointer;
}

*{
    text-shadow: 1px 1px 2px white;
    font-weight: 900;
} 
body {
    background-color: #dadada;
}


@media screen and (max-width: 889px) {
    header nav {
        order: 10;
        width: 100%;
        justify-content: center;
    }
    header{
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .topics {
        justify-content: center;
    }
    .logo {
        width: auto;
    }
    footer {
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .movie-card{
        border-radius: 1rem;
        border: 1px solid red;
        width: 33%;
        margin-right: 0.4rem;
    }
    .movie-card:last-child{
       margin-right: 0; 
    }
    .faq p {
        width: 100%;
    }
    .topics{
        justify-content: space-evenly;
    } 
    body  {
        min-width: 400px;
    }
    
}